<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="tankswar.com" value="http://47.108.173.4:8081/nexus/repository/nuget-hosted/index.json" protocolVersion="3" />
	</packageSources>
</configuration>