@using Skywalker.AspNetCore.Boilerplate.Components

@namespace Skywalker.AspNetCore.Boilerplate.Layouts
@inherits LayoutComponentBase
<div class="sidebar">
    <MainNavbar />
</div>
<div class="main">
    <Header />
    <div class="content px-4">
        @Body
    </div>
</div>
