@namespace Skywalker.AspNetCore.Boilerplate.Components

@inject NavigationManager Nav

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" @onclick="NavigateHome">Simple.Blazor</a>
</div>

@code {
    private void NavigateHome()
    {
        Nav.NavigateTo("/");
    }
}